/**
 * Author: Alin Marcu 
 * Author URI: https://deconf.com
 * Copyright 2013 Alin Marcu 
 * License: GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/* Frontend Item Reports */
.column-aiwp_stats {
	width: 70px;
}

.aiwp-icon {
	color: #555;
}

.aiwp-icon:hover {
	color: #2ea2cc;
}

.aiwp-icon-oldwp {
	padding-top: 5px;
}

[id^=aiwp-container-] {
	width: 400px;
}

[id^=aiwp-areachart-] {
	height: 280px;
}

[id^=aiwp-progressbar-] {
	width: 100%;
	height: 3px;
	margin: 5px 0 0px 0;
}

[id^=aiwp-bottomstats-] {
	width: 100%;
	margin-top:5px;
}

[id^=aiwp-bottomstats-] .inside {
	display: table;
	margin: 0 auto;
	padding: 0px;
}

[id^=aiwp-bottomstats-] .inside .small-box {
    width: 30%;
    float: left;
    margin: 0 5px 10px 5px;
    background: #fff;
    text-align: center;
    -moz-box-shadow: 0px 0px 7px 0px #BBB;
    -webkit-box-shadow: 0px 0px 7px 0px #BBB;
    box-shadow: 0px 0px 7px 0px #BBB;	
}

[id^=aiwp-bottomstats-] .inside .small-box h3 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #777;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.4;
}

[id^=aiwp-bottomstats-] .inside .small-box p {
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0px 0px 2px 0px;
}

.aiwp-floatwraper {
	display: table;
	width: 100%;
	height: 100%;
}

[id^=aiwp-piechart-].halfsize {
	width: 47%;
	margin: 10px 0 0 0;
	height: 200px;
	float: left;
}

[id^=aiwp-piechart-].floatleft {
	float: left;
}

[id^=aiwp-piechart-].floatright {
	float: right;
}

[id^=aiwp-tablechart-] {
	line-height: 1.5em !important;
	width: 98%;
	height: 100%;
	margin: 2px auto 10px 0;
}

[id^=aiwp-orgchart-] {
	margin: 10px auto 10px 0;
}

.ui-dialog.aiwp {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	width: min-content !important;
}

.ui-dialog.aiwp select {
    --wp-admin--admin-bar--height: 32px;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    margin: 0 1px;
    border: 1px solid #8c8f94;
    font-size: 14px;
    line-height: 2;
    color: #2c3338;
    border-color: #8c8f94;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    -webkit-appearance: none;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    max-width: 100%;
}

.ui-dialog.aiwp select:hover {
	color: #2271b1;
}

.ui-dialog.aiwp select:focus {
	border-color: #2271b1;
	outline-offset: 0px;
	outline: 0px;
	color: #0a4b78;
	box-shadow: 0 0 0 1px #2271b1;
}

.ui-dialog.aiwp select:active {
	border-color: #8c8f94;
	box-shadow: none;
}

.ui-dialog.aiwp select.disabled,
.ui-dialog.aiwp select:disabled {
	color: #a7aaad;
	border-color: #dcdcde;
	background-color: #f6f7f7;
	/* The SVG is arrow-down-alt2 from Dashicons. */
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23a0a5aa%22%2F%3E%3C%2Fsvg%3E');
	box-shadow: none;
	text-shadow: 0 1px 0 #fff;
	cursor: default;
	transform: none;
}

/* Reset Firefox inner outline that appears on :focus. */
/* This ruleset overrides the color change on :focus thus needs to be after select:focus. */
.ui-dialog.aiwp select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #0a4b78;
}

/* Remove background focus style from IE11 while keeping focus style available on option elements. */
.ui-dialog.aiwp select::-ms-value {
	background: transparent;
	color: #50575e;
}

.ui-dialog.aiwp select:hover::-ms-value {
	color: #2271b1;
}

.ui-dialog.aiwp select:focus::-ms-value {
	color: #0a4b78;
}

.ui-dialog.aiwp select.disabled::-ms-value,
.ui-dialog.aiwp select:disabled::-ms-value {
	color: #a7aaad;
}

/* Hide the native down arrow for select element on IE. */
.ui-dialog.aiwp select::-ms-expand {
	display: none;
}

.ui-dialog.aiwp select option {
    font-family: inherit;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
    color: #2c3338;
}

.ui-dialog.aiwp button{
	color: #646970;
	background-color: inherit !important;
}

.ui-dialog.aiwp table {
	margin: auto;
	width: auto;
}

.aiwp .ui-dialog-titlebar {
	font-size: 1.1em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.aiwp-dashboard-control input {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	width: auto !important;
	font-size: 14px !important;
	height: 28px !important;
	float: left;
	color: #32373c;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07) !important;
	background-color: #fff !important;
	padding: 0 5px 0 5px !important;
}

.aiwp-dashboard-control {
	padding-bottom: 10px;
}

.aiwp-dashboard-control input {
	height: 20px !important;
	content: "Search ...";
	font-size: 0.8em;
}

.aiwp-dashboard-control input::placeholder {
	/* modern browser */
	color: #999;
}

@media screen and (max-width: 500px) {
	[id^=aiwp-container-] {
		width: 410px;
	}
	[id^=aiwp-bottomstats-] .inside .small-box {
		width: 30.8%;
	}
}

@media screen and (max-width: 410px) {
	[id^=aiwp-container-] {
		width: 260px;
	}
	[id^=aiwp-bottomstats-] .inside .small-box {
		width: 46%;
	}
}

/* Toolbar Node (Analytics menu item) */
#wpadminbar #wp-admin-bar-aiwp-1>.ab-item:before {
	content: '\f239';
	top: 2px;
}

.no-font-face #wpadminbar #wp-admin-bar-aiwp-1>.ab-item {
	text-indent: 0;
}

@media screen and ( max-width: 782px ) {
	#wpadminbar #wp-admin-bar-aiwp-1>.ab-item {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 52px;
		padding: 0;
		color: #999;
		position: relative;
	}
	#wpadminbar #wp-admin-bar-aiwp-1>.ab-item:before {
		display: block;
		text-indent: 0;
		font: normal 32px/1 'dashicons';
		speak: none;
		top: 7px;
		width: 52px;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	#wpadminbar li#wp-admin-bar-aiwp-1 {
		display: block;
	}
	#wpadminbar #wp-admin-bar-aiwp-1 {
		position: static;
	}
}