/**
 * Author: Alin Marcu 
 * Author URI: https://deconf.com
 * Copyright 2013 Alin Marcu 
 * License: GPLv2 or later
 * License URI: https://www.gnu.org/licenses/gpl-2.0.html
 */
#aiwp {
	font-family: 'Open Sans', sans-serif;
}

#aiwp-searches td {
	line-height: 1.5em;
	padding: 2px;
	font-size: 1em;
}

#aiwp-searches {
	line-height: 10px;
	margin-top: 15px;
}

#aiwp-visits {
	height: 200px;
	margin-top: 15px;
}

#aiwp-content {
	width: 100%;
}

#aiwp-title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	padding-bottom: 2px;
}

#aiwp-widget {
	padding: 0 5px;
}

#aiwp-widgetchart {
	width: 100%;
}

#aiwp-widgettotals {
	margin: 0 0 10px 0;
	width: 100%;
	display: table;
	clear: both;
}

#aiwp-widgettotals .aiwp-left {
	padding: 10px 0 0 0;
	width: 45%;
	float: left;
	font-weight: 600;
}

#aiwp-progressbar {
	width: 100%;
	height: 3px;
	margin: 3px 0;
}

#aiwp-widgettotals .aiwp-right {
	padding: 10px 0 0 0;
	float: left;
	font-style: italic;
}

.widget_aiwp-frontwidget-report h2.widget-title {
	margin-bottom: 0px;
}