/**
 * Author: Alin Marcu 
 * Author URI: https://deconf.com
 * Copyright 2013 Alin Marcu 
 * License: GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

/* Tab navigation */
#aiwp-events, #aiwp-custom, #aiwp-advanced, #aiwp-exclude, #aiwp-config, #aiwp-tmdatalayervars, #aiwp-tmintegration, #aiwp-integration, #aiwp-tmadvanced {
	display: none;
}

/* Options pages */
table.aiwp-settings-options {
	padding-left: 10px;
	width: 100%;
}

.aiwp-settings-options td {
	padding: 0px 5px 5px 5px;
}

td.aiwp-settings-title, td.info {
	width: 140px;
	padding-left: 20px;
}

td.aiwp-settings-title-s {
	width: 300px;
}

.aiwp-help {
	padding-left: 15px;
}

td.aiwp-settings-info {
	padding-bottom: 15px;
}

td.aiwp-settings-title label {
	font-size: 1.1em;
}

.aiwp-title {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
	clear: left;
}

.aiwp-desc {
	font-size: 1em;
}

.aiwp-top {
	vertical-align: top;
}

pre.aiwp-settings-logdata {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.aiwp-settings-logdata span{
	color: #b30000;
	font-weight: 800;
}

table.aiwp-settings-logdata {
	table-layout:fixed;
	width: 100%;
}	


td.aiwp-settings-roles {
	padding-bottom: 15px;
}

#ga_speed_samplerate, #ga_user_samplerate, #ga_realtime_pages {
	width: 60px;
}

#gapi-access-code {
	color: red !important;
}

#poststuff.aiwp h2 {
	padding-bottom: 0;
	font-size: 19.5px;
	font-weight: normal;
	padding: 0;
	margin: 20px 0 15px 0;
}

#poststuff.aiwp h2.nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0;
}

/* Options pages ON/OFF Switch */
.button-primary.aiwp-settings-switchoo {
	position: relative;
	width: 50px;
	float: left;
	border: none;
	padding: 0;
	height: 22px;
	min-height: auto;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input.aiwp-settings-switchoo-checkbox {
	display: none;
}

.aiwp-settings-switchoo-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 2px;
	text-shadow: none;
}

.aiwp-settings-switchoo-inner {
	width: 200%;
	margin-left: -100%;
	border-radius: 2px;
	-moz-transition: margin 0.2s ease-in 0s;
	-webkit-transition: margin 0.2s ease-in 0s;
	-o-transition: margin 0.2s ease-in 0s;
	transition: margin 0.2s ease-in 0s;
}

.aiwp-settings-switchoo-inner:before, .aiwp-settings-switchoo-inner:after {
	float: left;
	width: 50%;
	font-weight: normal;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	text-shadow: none;
}

.aiwp-settings-switchoo-inner:before {
	content: "On";
	padding-left: 5px;
	border-bottom: none;
	/*	background-color: #00a0d2;
	color: #fff;  /* inherit from button props */
}

.aiwp-settings-switchoo-inner:after {
	content: "Off";
	padding-right: 5px;
	background-color: #ddd;
	text-align: right;
}

.aiwp-settings-switchoo-switch {
	width: 22px;
	height: 22px;
	background: #fff;
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 27px;
	-moz-transition: all 0.2s ease-in 0s;
	-webkit-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
}

.aiwp-settings-switchoo-switch:hover {
	color: #aaa;
	border-color: #aaa;
}

.aiwp-settings-switchoo-switch:after {
	margin: 0;
	outline: 0;
	display: inline-block;
	font: 400 16px/16px dashicons;
	content: "\f228";
	padding: 3px 0 0 3px;
	text-align: left;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.aiwp-settings-switchoo-checkbox:checked+.aiwp-settings-switchoo-label .aiwp-settings-switchoo-inner {
	margin-left: 0;
}

.aiwp-settings-switchoo-checkbox:checked+.aiwp-settings-switchoo-label .aiwp-settings-switchoo-switch {
	right: 0px;
}

.switch-desc {
	float: left;
	margin-left: 10px;
	line-height: 20px;
}
