/* Posts & Pages stats */

.column-gadwp_stats { 
	width: 70px; 
}

.gadwp-icon{
	color:#555;
}

.gadwp-icon:hover{
	color:#2ea2cc;
}

.gadwp-icon:selected{
	color:#0074a2;
}

.gadwp-icon-oldwp{
	padding-top:5px;	
}

#gadwpc-views{
	width:450px;
}

@media screen and (max-width: 480px) {
	#gadwpc-views{
		width: 400px;
	}
}

#gadwp-date-apply{
	margin-left:15px;
}

#gadwp-container-stats{
	margin-top:15px;
}

.gadwp-container{
	width:750px;
}

